name: Build

on:
  push:
    branches:
      - master

jobs:
  build:
    name: Build and analyze
    runs-on: ubuntu-latest
    
    steps:
      # Checkout source code
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build Docker image
        run: docker build -t easybuggy4sb:latest .

      # Chạy container để build và phân tích với SonarQube
      - name: Run SonarQube analysis inside Docker
        run: |
          docker run --rm \
            -e SONAR_HOST_URL=${{ secrets.SONAR_HOST_URL }} \
            -e SONAR_TOKEN=${{ secrets.SONAR_TOKEN }} \
            easybuggy4sb:latest \
            mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar \
            -Dsonar.projectKey=HoangPhan10_easybuggy4sb_3a4418bc-c266-49cc-a738-1f4538fa82fc \
            -Dsonar.projectName='easybuggy4sb'